{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<style>
h1 {
  text-align: center;
  text-col: blue
}
.list-group-item{
text-align: center;
}
.h4-store{s
text-align: center;
}
p {
  text-align: right;
  text-col: blue
}
</style>
</head>
<h1><font color="maroon">Garcy Enterprsies</font></h1>
<p>
    Address:<br>
    Gurunthi, Near kali teample,<br>
    Odisha, Ganjam, 761001
</p>
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">
        <!-- filter -->
            <div class="col-lg-3 mx-auto">
                        <div class="list-group">
                            {% if request.session.store_user %}
                                <h4  class="h4-store">Select Your Store</h4>

                                {% for store in stores %}
                                <a href="{% url 'store' store.id %}"
                                    class="list-group-item list-group-item-action btn btn-outline-success " methods="GET">{{store.name}}</a>
                                {% endfor %}
                            {% endif %}

                        </div>

            </div>

    </div>
</div>

{% endblock %}



