{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    h2{
    text-align: center;
    }

</style>

<h2 style="color:maroon; align-items: centre;"><i>Manage Inventory</i></h2>

<div>

    <a href="{% url 'add_inventory' %}" class="btn"><button style="background-color: blue, font: white" >Add Inventory</button></a>
    <a href="{% url 'view_inventory' %}" class="btn"><button style="background-color: blue, font: white" >Update Inventory</button></a>
    <a href="{% url 'view_inventory' %}" class="btn"><button style="background-color: blue, font: white" >Delete Inventory</button></a>

</div>


{% endblock %}