{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load custom_filter %}
<script  type="text/javascript">
	var b1 = document.getElementById("category-btn");
	b1.onclick = function() {
     b1.style.background = "teal";
	}
</script>
<style type="text/css">

	.inventory-table th{
	background-color: green;
	color: white;
	text-align: left;
	}
	.inventory-table td, .inventory-table th{
	padding:5x;border:1px solid #000
	}
	.row{
	padding:10x
	}
	.category-btn:hover{
	background-color: teal;
	}
</style>

<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">
		<!-- filter -->
		<div class="col-md-2" >
			<div class="list-group">

				<a href="{% url 'view_inventory' %}" class="list-group-item list-group-item-action btn btn-outline-success"><b>All Products</b></a>

				{% for category in categories %}
				<a href="{% url 'store_inventory' category.id %}"
				   class="list-group-item list-group-item-action category-btn btn-outline-success"><b>{{category.name}}</b></a>
				{% endfor %}
			</div>
		</div>

		<div>
			<table class="inventory-table">
				<thead>
					<tr>
						<th scope="col" class="col-1">Sno.  </th>
						<th scope="col" class="col-3">Product Name</th>
						<th scope="col" class="col-3">Product Category</th>
						<th scope="col" class="col-1">Price</th>
						<th scope="col" class="col-1">Quantity Purchased</th>
						<th scope="col" class="col-1">Quantity Sold</th>
						<th scope="col" class="col-1">Quantity Available</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						{% for product in products|in_category:category %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{product.name}}</td>
							<td>{{product.category}}</td>
							<td>{{product.price}}</td>
							<td>{{product.qty_purchased}}</td>
							<td>{{product.qty_sold}}</td>
							<td>{{product.qty_available}}</td>
						</tr>

						{% endfor %}
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>

</div>
{% endblock %}